body {
  background-image: url('https://logos.images.flightscopeaviation.com.au/logo-straight.800.png'), url('https://logos.images.flightscopeaviation.com.au/45deg-stripe.png') !important;
  background-repeat: no-repeat, no-repeat !important;
  background-position: bottom left, top right !important;
  background-size: 600px auto, 200px auto !important;
}
